{{# Create the selected form and reference Alpine data in `sending()`. Prevent
form from submitting with POST as we will submit with AJAX. #}}
<div x-data="sending">
  {{ form:create :in="form:handle ?? handle" id="form-{form:handle ?? handle}"
  csrf="false" class="flex flex-wrap" x-ref="form" @submit.prevent="sendForm()"
  js="alpine:dynamic_form" }}
  <div class="grid w-full gap-6 md:grid-cols-12">
    {{# Honeypot spam protection. #}}
    <div class="hidden">
      <label class="font-bold" for="{{ honeypot ?? 'honeypot' }}"
        >{{ honeypot ?? 'honeypot' }}
        <sup class="text-primary-400">*</sup></label
      >
      <input
        class="w-full"
        id="{{ honeypot ?? 'honeypot' }}"
        type="text"
        name="{{ honeypot ?? 'honeypot' }}"
        tabindex="-1"
        autocomplete="off"
      />
    </div>

    {{# Render the default-styled fields. #}} {{ fields }}
    <template x-if="{{ show_field }}">
      <div
        class="flex flex-col space-y-3
                                  {{ width == '25' ?= 'md:col-span-3' }}
                                  {{ width == '33' ?= 'md:col-span-4' }}
                                  {{ width == '50' ?= 'md:col-span-6' }}
                                  {{ width == '66' ?= 'md:col-span-8' }}
                                  {{ width == '75' ?= 'md:col-span-9' }}
                                  {{ width == '100' ?= 'md:col-span-12' }}"
      >
        {{ unless type === 'section' }}
        <label class="font-bold" for="{{ handle }}">
          {{ display }} {{ if validate | contains('required') }}
          <sup class="text-primary-400">*</sup>
          {{ /if }} {{ if instructions }}
          <p class="my-1 text-sm font-normal">{{ instructions }}</p>
          {{ /if }}
        </label>
        {{ /unless }}

        <div
          x-data="{ id: $id('error-label') }"
          class="flex flex-col space-y-2"
        >
          {{ field }} {{# Display error label when there is a validation error
          with the name field. #}}
          <template x-if="errors.{{ handle }}">
            <span
              class="text-sm font-bold text-red-800"
              :id="id"
              x-text="errors.{{ handle}}"
            ></span>
          </template>
        </div>
      </div>
    </template>
    {{ /fields }} {{# Pulse button and disable upon sending. #}}
    <div class="flex justify-end md:col-span-12">
      <button
        class="btn"
        :disabled="sending"
        :class="{ 'opacity-25 cursor-default': sending }"
      >
        Send
      </button>
    </div>
    <template x-if="success">
      {{ partial src="components/notification" type="success"
      class="md:col-span-12" content="Success" }}
    </template>
  </div>
  {{ /form:create }}
</div>

{{# The form script handling validation and submission via AJAX with `fetch()`.
#}}
<script>
  document.addEventListener("alpine:initializing", () => {
    Alpine.data("sending", () => {
      return {
        error: false,
        errors: [],
        sending: false,
        success: false,
        sendForm: async function () {
          this.sending = true;

          // Post the form.
          fetch(this.$refs.form.action, {
            headers: {
              "X-Requested-With": "XMLHttpRequest",
              "X-CSRF-Token": await getToken(),
            },
            method: "POST",
            body: new FormData(this.$refs.form),
          })
            .then((res) => res.json())
            .then((json) => {
              if (json["success"]) {
                this.errors = [];
                this.success = true;
                this.error = false;
                this.sending = false;
                this.$refs.form.reset();

                setTimeout(function () {
                  this.success = false;
                }, 4500);
              }
              if (json["error"]) {
                this.sending = false;
                this.error = true;
                this.success = false;
                this.errors = json["error"];
              }
            })
            .catch((err) => {
              err.text().then((errorMessage) => {
                this.sending = false;
              });
            });
        },
      };
    });
  });
</script>
