<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    {{ partial:head }}
    <body class="bg-gray-50 font-body leading-normal text-gray-700">
        {{ cache }}
            {{ partial:nav/index }}
        {{ /cache }}
        {{ template_content }}
        {{ cache }}
            {{ partial:footer }}
        {{ /cache }}
        {{# Dev toolbar if not in prod #}}
        {{ cache }}
            {{ if environment !== 'production' }}
                {{ partial:dev/toolbar }}
            {{ /if }}
        {{ /cache }}
        {{ vite src="resources/js/app.js" }}
    </body>
</html>
