/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/build
/public/mix-manifest.json
/public/~partytown
/public/vendor/app/css
/public/vendor/app/js
/public/static
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
storage/antlers/_debug
.nova
.idea
