{{# @name Header - Simple @param image - Featured Image @param featured_image -
Featured Image @param heading - Heading (defaults to Title) @param* body - Body
@param description - If no Body, use Description #}}

<div class="relative bg-primary-900">
  <div class="absolute inset-0">
    {{ if image || featured_image }} {{ responsive src="{{ image ??
    featured_image }}" class="w-full h-full object-cover" loading="eager" }} {{
    /if }}
    <div
      class="absolute inset-0 bg-primary-800 mix-blend-multiply"
      aria-hidden="true"
    ></div>
  </div>
  <div
    class="relative mx-auto max-w-7xl px-6 pb-16 pt-32 sm:px-6 lg:flex lg:items-center lg:justify-between lg:px-6 lg:pb-40 lg:pt-48"
  >
    <div class="max-w-xl">
      <h1
        class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl lg:text-6xl"
      >
        {{ heading ?? title }}
      </h1>
      {{ if body || description }}
      <div class="mt-6 max-w-3xl text-xl text-primary-100">
        {{ body ?? description }}
      </div>
      {{ /if }}
    </div>
  </div>
</div>
