.breakpoint:before {
  @apply block uppercase content-['-'] sm:content-['sm'] md:content-['md'] lg:content-['lg'] xl:content-['xl'] 2xl:content-['2xl'];
}
[x-cloak] {
  display: none !important;
}

html {
  scroll-behavior: smooth; /* Smooth scrolling on the whole document */
  scroll-padding-top: 200px; /* When click anchor link, scroll this amount above it. */
}
/* Remove smooth scrolling for people with 'prefers-reduced-motion: reduce' */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
