{{ partial:sections/header/simple }}
<section class="theme-container mx-auto py-20">
  <h1 class="heading">schwartzmj Statamic Starter</h1>
  <div
    class="mt-8 flex flex-wrap items-center space-y-4 lg:max-w-sm lg:space-y-0 lg:space-x-4"
  >
    <a href="#" class="btn w-full lg:w-auto">Primary</a>
    <a href="#" class="btn-alt w-full lg:w-auto">Alternate</a>
  </div>
</section>

<div id="doc-search"></div>
{{ partial:vite path="resources/js/docSearch/render.ts" }}

<section class="relative py-56">
  <div class="absolute inset-0">
    <img
      src="https://source.unsplash.com/random/2"
      class="absolute inset-0 h-full w-full object-cover object-right"
    />
    <div
      class="absolute inset-0 h-full w-full bg-gradient-radial-to-tl from-purple-500 via-pink-500 to-red-500 mix-blend-multiply"
    ></div>
  </div>
</section>

<section class="flex space-x-4 pt-4">
  <div
    class="h-24 w-24 rounded-full bg-gradient-radial from-purple-500 via-pink-500 to-red-500"
  ></div>
  <div
    class="h-24 w-24 rounded-full bg-gradient-radial-to-tr from-purple-500 via-pink-500 to-red-500"
  ></div>
  <div
    class="h-24 w-24 rounded-full bg-gradient-radial-to-tl from-purple-500 via-pink-500 to-red-500"
  ></div>
  <div
    class="h-24 w-24 rounded-full bg-gradient-radial-to-br from-purple-500 via-pink-500 to-red-500"
  ></div>
  <div
    class="h-24 w-24 rounded-full bg-gradient-radial-to-bl from-purple-500 via-pink-500 to-red-500"
  ></div>
</section>

<section class="mt-8 space-y-8">
  <div
    class="h-48 bg-gradient-radial-to-tr from-purple-500 via-pink-500 to-red-500"
  ></div>
  <div
    class="h-48 bg-gradient-radial-to-tl from-purple-500 via-pink-500 to-red-500"
  ></div>
  <div
    class="h-48 bg-gradient-radial-to-br from-purple-500 via-pink-500 to-red-500"
  ></div>
  <div
    class="h-48 bg-gradient-radial-to-bl from-purple-500 via-pink-500 to-red-500"
  ></div>
</section>
